/* collection section starts */

.collection {
  position: relative;
  padding: 20px;
  padding-bottom: 0;
}

.collection__wrapper {
  background-image: url("../images/collection-bg.png");
}

.collection__title {
  margin-top: 0;
  margin-bottom: 80px;
  padding-top: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.collection__item {
  display: flex;
  align-items: center;
  column-gap: 120px;
  padding-inline: 80px;
}

.collection__item:nth-child(even) {
  flex-direction: row-reverse;
}

.collection__item::before {
  content: "";
  width: 402px;
  height: 400px;
  background-image: url("../images/dancho.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: calc(50% - 800px);
  left: calc(50% - 870px);
}

.collection__item:nth-child(2)::before {
  content: "";
  width: 402px;
  height: 400px;
  background-image: url("../images/bg-espresso.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: calc(50% + 10px);
  left: calc(50% + 600px);
}

.collection__item:nth-child(2)::after {
  content: "";
  width: 430px;
  height: 477px;
  background-image: url("../images/espresso.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: calc(50% - 100px);
  left:calc(50% + 550px);
}

.collection__item:nth-child(3)::before {
  content: "";
  background-image: url("../images/planalto.svg");
  width: 402px;
  height: 400px;
  background-repeat: no-repeat;
  position: absolute;
  top: calc(50% + 400px);
  left: calc(50% - 950px);
}

.collection__inner {
  width: 390px;
}

.collection__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  color: $text-color;
}

.collection__desc {
  margin-block: 0;
  font-size: 22px;
  line-height: $higher-line-height;
}


/* collection section ends */