.site-footer {
  background-image: url("../../images/footer-bg.png");
}

.site-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 50px;
  padding-block: 65px;
}

.site-footer__list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.site-footer__link {
  text-decoration-line: none;
  font-weight: 700;
  letter-spacing: 1px;
  color: $text-color;
}