.howitworks {
  padding-inline: 20px;
  position: relative;
  padding-bottom: 50px;
}

.howitworks__wrapper {
  background-image: url("../images/howitworks-bg.png");
  padding-bottom: 50px;
}

.howitworks__title {
  margin-top: 0;
  margin-bottom: 160px;
  padding-top: 50px;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.howitworks__list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  padding-bottom: 60px;
}

.howitworks__list::before {
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 640px);
  content: "";
  background-image: url("../images/dotted-line.svg");
  width: 900px;
  height: 2px;
}

.howitworks__list::after {
  position: absolute;
  top: calc(50% - 400px);
  right: calc(50% - 700px);
  content: "";
  background-image: url("../images/but-coffee-first2.svg");
  background-repeat: no-repeat;
  width: 250px;
  height: 170px;
}

.howitworks__item {
  width: 433px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-inline: 20px;
  padding-bottom: 40px;
  background-color: #f8f8f2;
}

.howitworks__item::before {
  position: absolute;
  top: calc(50% - 280px);
  content: "";
  width: 60px;
  height: 60px;
  border: 4px solid #c99b67;
  background-color: #f8f8f2;
  margin-left: -20px;
}

.howitworks__number {
  display: block;
  margin-left: auto;
  font-size: 64px;
  color: $text-color;
  opacity: 0.8;
}

.howitworks__subtitle-wrapper {
  width: 231px;
}

.howitworks__subtitle {
  margin-top: 45px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 500;
  color: $text-color;
}

.howitworks__description {
  font-size: 18px;
  line-height: $lower-line-heght;
  color: $text-color;
}

.howitworks__link {
  display: block;
  width: 200px;
  margin-inline: auto;
  padding-block: 16px;
  text-decoration-line: none;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 100px;
  color: #fff;
  background-color: #c99b67;
}
