.whychoose {
  position: relative;
  padding: 20px;
  padding-bottom: 289px;
}

.whychoose__wrapper {
  background-image: url("../images/why-choose-bg.png");
}

.whychoose__inner {
  width: 581px;
  margin-inline: auto;
  padding-bottom: 500px;
}

.whychoose__title {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.whychoose__desc {
  margin-top: 0;
  text-align: center;
  line-height: $lower-line-heght;
  color: #fff;
  opacity: 0.8;
}

.whychoose__list {
  position: absolute;
  top: calc(50% - 200px);
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}

.whychoose__list::before {
  position: absolute;
  top: calc(50% - 380px);
  left: calc(50% - 750px);
  content: "";
  background-image: url("../images/but-first-coffee.svg");
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
}

.whychoose__item {
  width: 433px;
}

.whychoose__content-wrapper {
  width: 377px;
}

.whychoose__subtitle {
  margin-top: 28px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: $text-color;
}

.whychoose__description {
  margin-block: 0;
  font-size: 18px;
  line-height: $lower-line-heght;
  color: $text-color;
}